page-login {
    .page-login{
        background-color: #f3f4f3;
    .pass-mail{
        background-color: transparent;
    }
    .botones-login{
        width: 45%;
    }
    .forgot-password{
        color: rgb(70, 70, 232);
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    }
}
